<!DOCTYPE html>
<html>
  <head>
    <title>BreadTool</title>
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
  </head>

  <body>
    <div><%= image_tag 'bread.jpg' ,class:'bread-image'%></div>
    <ul class='lists'>
      <li><%= link_to '計算ツール', new_tool_path, class: "tool" %></li>
      <li><%= link_to '記録一覧', "#", class: "record" %></li>
      <li><%= link_to '新規登録', "#", class: "sign-up" %></li>
      <li><%= link_to 'ログイン', "#", class: "rogin" %></li>
      <li><%= link_to 'ログアウト', "#", class: "rogout" %></li>
    </ul>
  </body>
</html>


