<div class="contents row">
  <div class="container">
    <h3>投稿する</h3>
    <%= form_with(model: @reship,url: tools_path, local: true,id: "form") do |form| %>
      <%= form.text_field :flour, placeholder: "小麦粉(g)" ,id: "flour"%>
      <%= form.text_field :water, placeholder: "水(g)" ,id: "water"%>
      <%= form.text_field :salt, placeholder: "塩(g)" ,id: "salt" %>
      <%= form.text_field :sugar, placeholder: "砂糖(g)" ,id: "sugar"%>
      <%= form.text_field :yeast, placeholder: "イースト(g)" ,id: "yeast"%>
      <%= form.text_field :oil, placeholder: "油脂(g)" ,id: "oil"%>
      <%= form.submit "変換", id: "submit" %>
    <% end %>
  </div>
  <div id="list">
  </div>

</div>
