
<div class="contents row">
  <div class="container">
    <h3>投稿する</h3>
    <%= form_with(model: @record, local: true) do |form| %>
      <%= form.text_field :flour, placeholder: "小麦粉" %>
      <%= form.text_field :water, placeholder: "水" %>
      <%= form.text_field :salt, placeholder: "塩" %>
      <%= form.text_field :sugar, placeholder: "砂糖" %>
      <%= form.text_field :yeast, placeholder: "イースト" %>
      <%= form.text_field :oil, placeholder: "油脂" %>
      <%= form.submit "SEND" %>
    <% end %>
  </div>
</div>
